<a href="https://colab.research.google.com/github/ankitsd/avidya/blob/master/mahind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!wget https://datahack-prod.s3.amazonaws.com/test_file/test_Jwt0MQH.zip

--2019-05-03 18:52:47--  https://datahack-prod.s3.amazonaws.com/test_file/test_Jwt0MQH.zip
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.64.44
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.64.44|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10810428 (10M) [application/zip]
Saving to: ‘test_Jwt0MQH.zip’

test_Jwt0MQH.zip    100%[===================>]  10.31M  4.81MB/s    in 2.1s

2019-05-03 18:52:55 (4.81 MB/s) - ‘test_Jwt0MQH.zip’ saved [10810428/10810428]

In [4]:
!wget https://datahack-prod.s3.amazonaws.com/train_file/train_5CLrC8b.zip

--2019-05-03 18:52:57--  https://datahack-prod.s3.amazonaws.com/train_file/train_5CLrC8b.zip
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.62.16
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.62.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27621619 (26M) [application/zip]
Saving to: ‘train_5CLrC8b.zip’

train_5CLrC8b.zip   100%[===================>]  26.34M  7.36MB/s    in 3.6s

2019-05-03 18:53:02 (7.36 MB/s) - ‘train_5CLrC8b.zip’ saved [27621619/27621619]

In [5]:
!unzip train_5CLrC8b.zip
!unzip test_Jwt0MQH.zip

Archive:  train_5CLrC8b.zip
  inflating: Data_Dictionary.xlsx
  inflating: train.csv
Archive:  test_Jwt0MQH.zip
  inflating: test.csv

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("train.csv")

In [0]:
df2 = pd.read_csv("test.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Data columns (total 24 columns):
reservation_id                        341424 non-null object
booking_date                          341424 non-null object
checkin_date                          341424 non-null object
checkout_date                         341424 non-null object
channel_code                          341424 non-null int64
main_product_code                     341424 non-null int64
numberofadults                        341424 non-null int64
numberofchildren                      341424 non-null int64
persontravellingid                    341424 non-null int64
resort_region_code                    341424 non-null int64
resort_type_code                      341424 non-null int64
room_type_booked_code                 341424 non-null int64
roomnights                            341424 non-null int64
season_holidayed_code                 341310 non-null float64
state_code_residence                  336660 non-null float64
state_code_resort                     341424 non-null int64
total_pax                             341424 non-null int64
member_age_buckets                    341424 non-null object
booking_type_code                     341424 non-null int64
memberid                              341424 non-null object
cluster_code                          341424 non-null object
reservationstatusid_code              341424 non-null object
resort_id                             341424 non-null object
amount_spent_per_room_night_scaled    341424 non-null float64
dtypes: float64(3), int64(12), object(9)
memory usage: 62.5+ MB

In [0]:
import matplotlib
%matplotlib inline
import seaborn as sns

In [12]:
df.describe()

,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,resort_type_code,room_type_booked_code,roomnights,season_holidayed_code,state_code_residence,state_code_resort,total_pax,booking_type_code,amount_spent_per_room_night_scaled
count,341424.000000,341424.000000,341424.000000,341424.000000,341424.000000,341424.000000,341424.000000,341424.000000,341424.000000,341310.000000,336660.000000,341424.000000,341424.000000,341424.000000,341424.000000
mean,1.902810,2.208738,3.275361,0.362696,210.288905,1.772960,2.193832,2.890321,3.738346,2.673862,7.260708,4.763303,3.193390,1.124209,7.720801
std,0.915311,0.823779,1.756062,0.758019,865.735577,0.750806,1.551451,0.804260,2.479054,0.885650,4.701283,3.103909,1.167824,0.329821,1.090109
min,1.000000,1.000000,0.000000,0.000000,45.000000,1.000000,0.000000,1.000000,-45.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.600397
25%,1.000000,2.000000,2.000000,0.000000,45.000000,1.000000,1.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,1.000000,7.187260
50%,2.000000,2.000000,3.000000,0.000000,45.000000,2.000000,2.000000,3.000000,3.000000,3.000000,8.000000,5.000000,3.000000,1.000000,7.860814
75%,3.000000,3.000000,4.000000,0.000000,45.000000,2.000000,3.000000,3.000000,4.000000,3.000000,8.000000,7.000000,4.000000,1.000000,8.419144
max,3.000000,7.000000,32.000000,13.000000,4995.000000,3.000000,7.000000,6.000000,60.000000,4.000000,38.000000,13.000000,24.000000,2.000000,10.816652

In [13]:
df.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,05/04/18,05/04/18,06/04/18,3,1,2,0,46,3,...,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,...,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,02/05/15,11/06/15,16/06/15,1,1,2,2,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,02/09/15,14/12/15,19/12/15,1,1,2,0,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346

In [27]:
df["channel_code"].unique()

array([3, 1, 2])

cluster code = 6 unique   ['F', 'E', 'D', 'B', 'A', 'C']

```
# This is formatted as code
```
reservationstatusid_code = 4 unique values ['C', 'A', 'B', 'D']

booking_type_code = 2 unique values [1, 2]

member_age_buckets	= 10 unique values ['F', 'H', 'D', 'E', 'I', 'G', 'C', 'B', 'A', 'J']

state_code_resort = 11 unique  values [ 3,  5,  1,  2,  6,  9, 10,  4, 11,  7, 13]

persontravellingid = 6 unique values [  46,   47,   45, 4752, 4753, 4995]

main_product_code = 5 unique values [1, 2, 3, 4, 7]

channel_code = 3 unique values [3, 1, 2]

Find/Derive -----

Total number of days the person has stayed

The month in which booking is made

Check if the booking and check in date is same

Check the difference between the check out and booking date